.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Return button */
.return-btn {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.return-btn:hover {
    background-color: #2563eb;
}

/* Form */
.form-container{
    margin-top: 2rem;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

/* Personal Info Section */
.personal-info {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.info-grid p {
    color: #4b5563;
    margin-bottom: 0.5rem;
}

/* Bonus Records Section */
.bonus-records {
    margin-top: 2rem;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.record-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.record-row:not(.expanded-row):active {
    background: #efefef;
}

.record-row td {
    border-bottom-width: 0;
}

.record-detail {
    overflow: hidden;
}

.detail-content {
    padding: 16px;
}

/* Loading */
.loading {
    text-align: center;
    padding: 2rem 0;
    color: #4b5563;
}
