<h2 mat-dialog-title>New Social Performance</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Year</mat-label>
            <input matInput type="number" formControlName="year">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Leadership Score</mat-label>
            <input matInput type="number" formControlName="leadershipScore">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Openness Score</mat-label>
            <input matInput type="number" formControlName="opennessScore">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Social Behavior Score</mat-label>
            <input matInput type="number" formControlName="socialBehaviorScore">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Communication Score</mat-label>
            <input matInput type="number" formControlName="communicationScore">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Integrity Score</mat-label>
            <input matInput type="number" formControlName="integrityScore">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments"></textarea>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-dialog-actions>
</form>
